* {
  box-sizing: border-box;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 42px;
  text-align: center;
  color: #333333;
  margin-bottom: 58px;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid #bdbdbd;
  width: 80%;
}

.each-tab {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #333333;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding-bottom: 15px;
}

button.active {
  border-bottom: 2px solid #2f80ed;
}

.tab {
  display: none;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 13px;
  margin-bottom: 10px;
  width: 80%;
}

.input-el {
  width: 476px;
  border: 1px solid #bdbdbd;
  border-radius: 12px;
  min-height: 45px;
  outline: none;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #828282;
  padding-left: 10px;
}

.add-button {
  width: 109px;
  min-height: 45px;
  border: none;
  background-color: #2f80ed;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  border-radius: 12px;
  cursor: pointer;
  margin-left: 20px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

.todo-items-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

@media screen and (width<768px){
  .todo-items-container{
    width: 90%;
  }
}

.todo-item {
  list-style-type: none;
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
}
.check {
  width: 24px;
  height: 24px;
  border: 1px solid #828282;
  border-radius: 4px;
  align-self: center;
  margin-right: 10px;
}
.label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  align-self: center;
}
.checked {
  text-decoration: line-through;
}

.delete-icon-container {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: auto;
}

.delete-icon {
  align-self: center;
  margin: auto;
}
